.task {
  padding: 21px 21px 25px 72px;
  border-bottom: 1px solid var(--border-color);
  color: var(--color-text-primary);
  font-size: 18px;
  letter-spacing: -0.25px;
  position: relative;
  cursor: pointer;
}

.task_completed {
  text-decoration: line-through;
  color: var(--color-text-secondary-100);
}

.task__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.task__icon {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  cursor: pointer;
  box-sizing: border-box;
}

.task__icon:hover {
  background-image: url(../../assets/icons/hover-task-light.svg);
  border: none;
}

#dark .task__icon:hover {
  background-image: url(../../assets/icons/hover-task-dark.svg);
  border: none;
}

#dark .task__checkbox:checked + .task__icon,
.task__checkbox:checked + .task__icon {
  background-image: url(../../assets/icons/task-checked.svg);
  border: none;
}

.task__checkbox:checked + .task__icon:hover {
  opacity: 0.8;
}

.task__delete {
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  background-image: url(../../assets/icons/delete-task-light.svg);
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
}

#dark .task__delete {
  background-image: url(../../assets/icons/delete-task-dark.svg);
}

.task__delete:hover {
  opacity: 0.8;
}

.task:hover .task__delete {
  opacity: 1;
}
