@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --background-image: url(./assets/bg/bg-light.jpg);
  --gradient: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
  --background-page: #fafafa;
  --color-text-primary: #494c6b;
  --color-text-secondary: #9495a5;
  --color-text-secondary-100: #d1d2da;
  --border-radius: 5px;
  --border-color: #e3e4f1;
  --background: #fff;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --ff: 'Roboto', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--ff);
}

body::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background: var(--gradient), var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  z-index: -1;
}
